.modal {
    flex: 1;
    max-width: 510px;
    padding: 0;
    transform: translate(0, 0) rotate(0deg) skewX(0) skewY(0) scaleX(1) scaleY(1);

    &__container {
        position: fixed;
        inset: 0;
        overflow-y: auto;
        padding: 3rem 1rem 1rem;
        z-index: 60;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__overlay-container {
        position: fixed;
        inset: 0;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--black);
        opacity: 0.5;
    }
    &__inner {
        padding: 1rem;
    }
    &__buttons {
        padding: 1rem;
        border-top: 1px solid var(--medium-light-gray);
        display: flex;
        justify-content: flex-end;

        .button:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}
